@import '../core/reset';
@import '../core/variables';
@import '../core/buttons';

.big__container {
  margin: 20px 30px 30px 30px;
  @media (min-width: 750px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 80px;
  }
}
.menu {
  font-family: $text;
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $text;
    color: $white;
    font-size: 18px;
    gap: 20px;
    padding: 10px 0px;
    background-color: $pink;
    @media (min-width: 550px) {
      justify-content: space-around;
      width: 100vw;
    }
  }
}
.menu__item {
  text-decoration: none;
  color: $white;
  &:hover {
    color: $black;
  }
}
// .left__container {
//   margin: 30px;
// }
.home {
  &__title{
    color: $black;
    font-size: 28px;
    font-family: $text;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }
  &__image {
    margin-bottom: 15px;
    width: 100%;
    // @media (min-width: 700px) {
    //   width: 60%;
    // }
  }
}

.analysis {
  &__container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;
    margin-top: 30px;
    margin: 20px;
  }
  &__title {
    font-size: 24px;
    font-family: $text;
    font-weight: 500;
    color: $dark-pink;
    &--date {
      font-size: 18px;
      font-family: $text;
      color: $pink;
    }
  }
  &__list {
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    border: 3px solid $black;
  }
  &__item {
    font-family: $text;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 5px);
    // align-content: center;
    gap: 5px;
    @media (min-width: 700px) {
      font-size: 24px;
    }
  }
}

.happyface {
  color: green;
}

.sadface {
  color: red;
}

.right__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: $text;
  // margin: 30px;
  @media (min-width: 750px) {
    width: 40%;
  }
  &--title {
    color: $black;
    font-size: 24px;
    font-weight: 500;
    margin: 5px 5px 15px 5px;
    text-align: center;
  }
}

.medication__container {
  padding: 10px;
  background-color: $white;
  border: 3px solid $dark-pink;
  border-radius: 10px;
  // margin-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  &--subtitle {
    font-weight: 700;
    line-height: 2;
  }
}

.date__container {
  background-color: $dark-pink;
  padding: 10px;
  border: 3px solid $black;
  border-radius: 10px;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1;
  &--subtitle {
    font-weight: 700;
    line-height: 2;
  }
}

.bottom__container {
  margin: 20px;
}

.cycle {
  &__title {
    font-family: $text;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  &__content {
    background-color: $dark-pink;
    font-family: $text;
    font-size: 18px;
    color: $white;
    padding: 20px;
    border: 3px solid $black;
    border-radius: 10px;
    text-align: center;
  }
}

.highlight__text {
  color: $black;
  
}

.plain__text {
  color: $white;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
