@import '../core/reset';
@import '../core/variables';

.signin {
    &__container{
        margin-top: 50px;
        margin-bottom: 40px;
        padding: 30px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: $dark_blue;
        border: 4px solid $dark_orange;
        border-radius: 10px;
        width: 500px;
        background-color: white;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 10px;
        color: $dark_orange;
    }

    &__subtitle {
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 10px;
        color: $dark_orange;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: left;
        font-size: 18px;
    }

    &__btn {
        background-color: $dark_orange;
        color: white;
        border-radius: 10px;
        padding: 5px 25px;
        border: $dark_orange;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px;
    }

    &__label {
        font-size: 18px;
        font-weight: 500;
    }

    &__input {
        border-radius: 10px;
        border: 1.5px solid $dark_blue;
        padding: 5px;
    }
}