@import 'core/reset';
@import 'core/variables';

.page__container{
    background-color: $orange;
}

.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}